*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
}
#hr,
#min,
#sec,
#count{
    font-size: 50px;
    
}
span{
    font-weight: bold;
}